@font-face {
    font-family: Londoner;
    src:url("../fonts/Londoner-p1Gy.ttf");
}

@font-face {
    font-family: Summer;
    src:url("../fonts/SummerFestival-Regular.ttf");
}

@font-face {
    font-family: 'Starmix';
    src:url('../fonts/StarmiX.ttf.woff') format('woff'),
        url('../fonts/StarmiX.ttf.svg') format('svg'),
        url('../fonts/StarmiX.ttf.eot'),
        url('../fonts/StarmiX.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../images/escheresque_ste.png");
    background-repeat: repeat;
  }

.jumbotron{
    background-image: url(../images/diamond.png);
    width: 100%;
    padding: 32px;
}

#gameTitle{
    margin: 0;
    padding: 0;
    font-family: Starmix;
    color: white;
    font-size: 80px;
    text-shadow: 0 0 10px rgb(25, 0, 255);
}

img {
    width: 100%;
}

.button{
    background-color: transparent;
    border: none;
}

#resultImg{
    max-width: 800px;
    max-height: auto;
}

/* RESULTS DISPLAY ANIMATION AND PARAMETERS */
.custom-wrap{
    top: 150px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color:transparent;
    position: absolute;
    top: 0px;
    z-index: -9999;
    visibility: hidden; 
    color: black;
    text-align: center;
}

.result {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: resultScreen;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes resultScreen {
    0% {
        background-color:transparent;
        z-index: -9999;
        visibility: hidden;
    }
    100% {
        background-color: white;
        z-index: 9999;
        visibility: visible;
    }
} 

.resultOut {
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: resultScreenOut;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes resultScreenOut {
    0% {
        background-color: white;
        z-index: 9999;
        visibility: visible;
    }
    100% {
        background-color:transparent;
        z-index: -9999;
        visibility: hidden;
    }
} 

#hText{
    font-size: 150px;
    font-family: 'Monoton', cursive;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.custom-wrap-text{
    text-align: center;
    visibility:hidden;
    color: transparent;
    opacity: 1; 
    font-size: 50px;
    color: #001f3f;
}

.resultInText {
    animation-duration: 1.5s;
    animation-name: fadeInAnimation;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
      0% {
          visibility:hidden; 
          opacity: 0;
      }
  
      100% {
        visibility: visible; 
        opacity: 1;
        color: hsl(210, 100%, 75%); 
      }
  }
